@charset "UTF-8";
@import url(font.css);
@import url(common.css);
@import url(login.css);

/********************************************** popup **********************************************/
/* popup - layout */
.popup-layer {
  position: fixed;
  z-index: 130;
  margin: 0 auto;
  height: auto;
  box-shadow: 0px 10px 30px rgba(42, 44, 47, 0.5);
  background: var(--white);
  overflow: hidden;
  width: 90%;
}
.popup__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 20px;
  border-bottom: 1px solid #c5c9ce;
  background: var(--white);
}
.popup__head h1 {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-3);
}
.popup__body {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.popup__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}
.popup__footer button {
  flex: 1;
  height: 54px;
  background: var(--secondary);
}
.popup__footer button span {
  font-size: 17px;
  color: var(--white);
}

/* popup - 새창팝업 */
.popup-window .popup__body {
  /*height: calc(100vh - 109px);*/
  height: auto;
  overflow-y: auto;
}
.black-border {
  border: 2px solid black;
  padding: 20px; /* 테두리와 내용 사이의 간격을 늘립니다. (선택 사항) */
}

/* popup - popup__body content */
.popup__body h2 {
  font-size: 17px;
  font-weight: 700;
  color: var(--gray-3);
  margin-bottom: 10px;
}
.popup__body h3 {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-3);
  margin-bottom: 10px;
}
.popup__body h3::before {
  content: '\eb36';
  font-family: 'Material Icons';
  font-size: 10px;
  color: var(--secondary);
  margin-right: 5px;
}
.popup__body .form-input li {
  align-items: flex-start;
}
.popup__body .form-input label {
  flex: 1;
  font-size: 14px;
  margin-top: 7px;
}
.popup__body .form-input .input-area {
  flex: 3;
}
.popup__body .form-input .input-area input + select,
.popup__body .form-input .input-area select + input,
.popup__body .form-input .input-area select + select {
  margin-top: 5px;
}
.popup__body .form-input .input-area.row input + select,
.popup__body .form-input .input-area.row select + input,
.popup__body .form-input .input-area.row select + select,
.popup__body .form-input .input-area.row input + input {
  margin-left: 5px;
  margin-top: 0;
}
.popup__body .form-input .input-area.row .column input + select,
.popup__body .form-input .input-area.row .column select + input,
.popup__body .form-input .input-area.row .column select + select {
  margin-left: 0;
  margin-top: 5px;
}
.popup__body .form-input .input-area.column input + input,
.popup__body .form-input .input-area.column select + select,
.popup__body .form-input .input-area.column select + input,
.popup__body .form-input .input-area.column input + select,
.popup__body .form-input .input-area.column .radioBox + input,
.popup__body .form-input .input-area.column .checkBox + input {
  margin-top: 5px;
}
.popup__body .form-input .input-area button {
  height: 32px;
  width: 100%;
  background: var(--gray-7);
}
.popup__body .form-input .input-area button span {
  color: var(--white);
}
.popup__body .form-input .input-area button.btn-delete {
  width: 40px;
}
.popup__body .form-input .input-area button.btn-delete::before {
  color: var(--white);
  font-size: 18px;
}
.popup__body .form-input .input-area button.btn-add {
  width: 40px;
}
.popup__body .form-input .input-area button.btn-add::before {
  color: var(--white);
  font-size: 18px;
}

.popup__body .form-input .input-area .searchterm span {
  color: var(--black);
}
.popup__body .form-input .input-area .checkBox,
.popup__body .form-input .input-area .radioBox {
  margin-bottom: 10px;
}
.popup__body input[type='text'],
.popup__body input[type='password'],
.popup__body input[type='tel'],
.popup__body input[type='file'],
.popup__body .box__search input[type='text'] {
  height: 30px;
  background: var(--white);
  border: 1px solid var(--gray-10);
}
.popup__body select {
  height: 32px;
  background: var(--white);
  border: 1px solid var(--gray-10);
}
.popup__body .search {
  gap: 20px;
  padding: 20px;
  width: 100%;
  background: var(--gray-14);
  border-color: var(--gray-12);
}
.popup__body .search .form-input {
  gap: 7px;
}
.popup__body .search .btn-wrap button {
  border-color: #0eb568;
}
.popup__body .search .form-input label {
  color: var(--black);
  width: 102px;
  flex: none;
}
.popup__body .search .form-input .checkBox label,
.popup__body .search .form-input .radioBox label {
  display: inline-block;
  width: auto;
  min-width: unset;
}
.popup__body .search .form-input + .form-input {
  border-top: 1px dashed #cbcbcb;
  padding-top: 28px;
  margin-top: 28px;
}

.popup__body .tbl-top {
  margin-bottom: 8px;
}
.popup__body .tbl-top + .tbl-top {
  border-top: 1px dashed #ddd;
  padding-top: 11px;
  margin-top: 12px;
  gap: 10px;
}
.popup__body .tbl-top h3 {
  margin-bottom: 0;
}
.popup__body .tbl-top .input-area {
  display: flex;
  align-items: center;
}
.popup__body .tbl-top .input-area label {
  margin-right: 3px;
}
.popup__body .tbl-top input[type='text'],
.popup__body .tbl-top input[type='password'],
.popup__body .tbl-top input[type='tel'],
.popup__body .tbl-top input[type='file'],
.popup__body .tbl-top .box__search input[type='text'],
.popup__body .tbl-top select {
  height: 26px;
}
.popup__body .tbl-top button {
  height: 30px;
  background: #6c7e9a;
  border-color: #607088;
}
.popup__body .tbl-top button span {
  color: var(--white);
  font-size: 13px;
}
.popup__body .tbl-top button::before {
  color: var(--white);
  margin-right: 3px;
}
.popup__body .tbl-top .radioBox label {
  font-size: 13px;
  margin-left: 5px;
}
.popup__body .tbl-top .search {
  padding: 8px 10px 28px;
  margin-bottom: 20px;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed var(--gray-12);
  border-radius: 0;
}
.popup__body .tbl-top .search .radioBox {
  display: flex;
  flex-direction: row;
}
.popup__body .tbl-top .search .radioBox label {
  width: auto;
  margin-right: 10px;
  min-width: auto;
}
.popup__body .tbl-top .search .btn-wrap button {
  border: 0;
  height: 26px;
}
.popup__body .tbl-bottom {
  margin-bottom: 8px;
}
.popup__body .tbl-bottom .input-area {
  display: flex;
  align-items: center;
}
.popup__body .tbl-bottom .input-area label {
  margin-right: 3px;
}
.popup__body .tbl-bottom input[type='text'],
.popup__body .tbl-bottom input[type='password'],
.popup__body .tbl-bottom input[type='tel'],
.popup__body .tbl-bottom input[type='file'],
.popup__body .tbl-bottom .box__search input[type='text'],
.popup__body .tbl-bottom select {
  height: 26px;
}
.popup__body .tbl-bottom button {
  height: 30px;
  background: var(--white);
  border-color: #607088;
}
.popup__body .tbl-bottom button span {
  color: var(--gray-5);
  font-size: 13px;
}
.popup__body .tbl-bottom .radioBox label {
  font-size: 13px;
  margin-left: 5px;
}

.popup__body .tbl-list table th {
  padding: 8px;
  font-size: 13px;
  color: #222;
  background: #ededee;
  border-bottom: 0;
  border-top: 1px solid #696f77;
}
.popup__body .tbl-list table td {
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  color: var(--gray-5);
  background: var(--white);
  border-bottom: 1px solid #ededee;
}
.popup__body .tbl-list .btn-basic {
  border: 0;
}

/********************************************** page **********************************************/
.tbl-list table tr.pick {
  outline: 1px solid var(--primary);
  border: 1px solid var(--primary);
}
.tbl-list table tr.pick td {
  background: #ddffd4;
}

/*연동처리*/
.btn-toggle {
  font-size: 12px;
  color: var(--white);
  border-radius: 2px;
  height: 24px;
  padding: 0 15px;
  background: var(--gray-8);
}
.btn-toggle.active {
  background: var(--secondary) !important;
  border-color: #018b88 !important;
}
.btn-toggle::before {
  content: '처리취소';
  font-size: 12px;
  color: var(--white);
}
.btn-toggle.active::before {
  content: '처리하기';
}

/*연동처리 단계 박스*/
.box-step {
  background: #e2efef;
  border: 3px solid #4db5b2;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
.box-step.complete {
  background: #ededed;
  border-color: #d0d0d0;
}
.box-step .step-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-step .step-bottom {
  display: flex;
  justify-content: flex-end;
  border-top: 1px dashed #4db5b2;
  margin-top: 15px;
  padding-top: 13px;
}
.box-step .step-bottom button {
  height: 36px;
  padding: 0 20px;
}
.box-step .step-bottom button.btn-toggle::before {
  content: '취소';
  font-size: 15px;
  color: var(--white);
}
.box-step .step-bottom button.btn-toggle.active::before {
  content: '완료';
}
.box-step .step {
  flex: 1.2;
  display: flex;
  align-items: center;
  width: 99%;
  gap: 10px;
}
.box-step .step:first-child {
  flex: 1;
}
.box-step .step + .step::before {
  content: '\eac9';
  font-family: 'Material Icons';
  color: #0a8a87;
  font-size: 36px;
}
.box-step .step-wrap {
  width: 100%;
}
.box-step .tit {
  font-size: 15px;
  font-weight: 500;
  color: #111;
  margin-bottom: 5px;
}
.popup__body .box-step .step select {
  border-color: #0a8a87;
  border-radius: 3px 0 0 3px;
}
.popup__body .box-step .step select + button {
  height: 32px;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
  border-left: 0;
  border-color: #0a8a87;
}
.popup__body .box-step .step select + button span {
  font-size: 13px;
}


/*!*tree - 결재선 지정*!*/
/*.treebox {*/
/*  padding: 20px 10px 20px 20px;*/
/*  border-radius: 1px;*/
/*  border: 1px solid var(--gray-12);*/
/*}*/
/*.treeview {*/
/*  height: 217px;*/
/*  overflow-y: auto;*/
/*  padding-right: 10px;*/
/*}*/
/*.treebox + .box {*/
/*  margin-top: -1px;*/
/*  height: 275px;*/
/*}*/

