<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그룹 정보</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style2.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet" />
    <!-- JS -->
    <script type="text/javascript" src="assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="assets/js/common.js" defer></script>
  </head>

  <body>
    <div class="popup-window">
      <!--헤더,바디,푸터 레이아웃 레이어 팝업과 동일-->
      <div class="popup__head">
        <h1>IBIP</h1>
        <button class="btn btn-close js-close"><span class="hide">닫기</span></button>
      </div>
      <div class="popup__body">
        <section>
          <!--230222, section내용 전체 수정됨-->
          <h2>사용자 정보</h2>
          <div class="search">
            <form action="#" method="" name="userform">
              <fieldset>
                <legend>사용자 정보</legend>
                <ul class="form-input">
                  <li>
                    <div class="input-area">
                      <label for="loginID">로그인 ID</label>
                      <input type="hidden" th:value="${userInfo.userId}" id="userId">
                      <input type="text" name="userInfo" th:value="${userInfo.loginID}" id="loginID" disabled>
                    </div>
                  </li>
                  <li>
                    <div class="input-area">
                      <label for="userNm">사용자명</label>
                      <input type="text" name="userInfo" id="userNm" th:value="${userInfo.userNm}" disabled/>
                    </div>
                    <div class="input-area">
                      <label for="owner">소유자</label>
                      <input type="text"  id="owner" th:value="${userInfo.owner}" disabled/>
                    </div>
                  </li>
                  <li>
                    <div class="input-area">
                      <label for="enableYn">계정상태</label>
                      <input type="text" id="enableYn" th:value="${userInfo.enableYn == 'Y' ? '활성화' : '비활성화'}" disabled/>
                    </div>
                    <div class="input-area">
                      <label for="modification">변경시간</label>
                      <input type="text"  id="modification" value="" th:value="${userInfo.modification}" disabled/>
                    </div>
                  </li>
                  <li>
                    <div class="input-area">
                      <label for="description">설명</label>
                      <input type="text" name="userInfo" id="description" value="" th:value="${userInfo.description}" disabled/>
                    </div>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
        </section>
        <section>
          <div class="tbl-top">
            <div class="left"></div>
            <div class="right">
              <button type="button" id="btn-modify" class="btn-" onclick="modify(this)"><span>수정</span></button>
              <button type="button" id="" class="btn-" onclick="reset(this)"><span>비밀번호 초기화</span></button>
              <button type="button" id="d" class="btn-" onclick="enable(this)"><span>계정 활성화</span></button>
              <button type="button" id="btn-delete" class="btn- bg-danger"><span>삭제</span></button>
            </div>
          </div>
        </section>
        <section>
          <h3>그룹 정보</h3>
          <div class="box">
            <div class="tbl-top">
            </div>
            <!--스크롤 테이블에 scroll 클래스 추가-->
            <!--230222, 테이블 항목 수정-->
            <div class="tbl-list scroll">
              <table summary="선택, 할당유무, 사용자id, 사용자명, 생성일시 항목으로 구성된 사용자 관리 리스트 입니다.">
                <caption>
                  그룹 관리 리스트
                </caption>
                <colgroup>
                  <col style="width: 5%" />
                  <col style="width: 5%" />
                  <col style="width: 25%" />
                  <col style="width: 5%" />
                  <col style="width: 30%" />
                  <col style="width: 15%" />
                  <col style="width: 15%" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">
                      <input type="checkbox" id="chkAll" onclick="selectAll(this)"/>
                    </th>
                    <th scope="col">할당유무</th>
                    <th scope="col">그룹명</th>
                    <th scope="col">하위 개체 수</th>
                    <th scope="col">설명</th>
                    <th scope="col">생성일자</th>
                    <th scope="col">소유자</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="groups : ${userInfo.parentsGroups}" th:class="${groups.assignYn} == 'Y'? 'pick' : '' ">
                    <td><input type="checkbox" id="c2" name="chk" th:value="${groups.groupId}"/></td>
                    <td th:text="${groups.assignYn}"></td>
                    <td th:text="${groups.groupNm}"></td>
                    <td th:text="${groups.childCnt}"></td>
                    <td th:text="${groups.description}"></td>
                    <td th:text="${groups.creationTime}"></td>
                    <td th:text="${groups.owner}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--230222, tbl-bottom 위치 수정 : <div class="box"> 안으로 이동-->
            <div class="tbl-bottom">
              <div class="left">
                <button type="button" onclick="assignment('assign')"><span>할당</span></button>
                <button type="button" onclick="assignment('unassign')"><span>회수</span></button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--230222, 버튼 영역 수정-->
      <div class="popup__footer">
        <button type="button" class="pop-close bg-gray"><span>닫기</span></button>
      </div>
    </div>
  </body>
  <script src="/js/leedo_custom.js"></script>
  <script th:inline="javascript">
    // 체크박스 전체 선택
    function selectAll(chkAll){

      $('input:checkbox[name="chk"]').each(function() {
        this.checked = chkAll.checked
      });

    }
    //전체 선택, 해제 비교
    $("input[name=chk]").click(function() {
      var total = $("input[name=chk]").length;
      var checked = $("input[name=chk]:checked").length;

      if(total != checked) $("#chkAll").prop("checked", false);
      else $("#chkAll").prop("checked", true);
    });

    function validCheck(type){

      //할당정보 YN
      var checkAssign = true;
      var checkmsg = "";

      var type = type

      if($('input[name=chk]:checked').length === 0){
        checkmsg ="선택된 항목이 없습니다.";
        checkAssign = false;
      }

      else {
        // 체크 된 ID중 할당정보에 따른 검사
        $('input[name=chk]:checked').each(function (index) {
          //선택된 체크박스의 tr
          var selectedTr = $(this).parent().parent();
          //선택된 체크박스의 td
          var selectedTd = selectedTr.children();
          //선택된 체크박스의 할당 정보
          var selectedAssign = selectedTd.eq(1).text();

          if (type === "assign") {
            if (selectedAssign == "Y") {
              checkmsg = "할당되지 않은 그룹만 할당 가능합니다.";
              checkAssign = false;
              return false;
            }
          } else if (type === "unassign") {

            if (selectedAssign == "N") {
              checkmsg = "할당 된 그룹만 회수 가능합니다.";
              checkAssign = false;
              return false;
            }
          }
        })
      }
      if(!checkAssign) {
        alert(checkmsg);
        return false;
      }
      else {
        return true;
      }
    }



    function assignment(assignmentType) {
      if (validCheck(assignmentType)) {

        // 1. 사용명 추출
        var userId = $('#userId').val();

        // 1.1 그룹 ID를 담을 배열 선언
        var groups = []

        // 1.2 checkbox에 해당된 ID 배열에 추가
        $("input[name=chk]:checked").each(function (index) {
          var id = $(this).val();
          group = {groupId: id}
          groups.push(group);
        })


        //2. 요청값 설정
        const data = {
          "userId": userId,
          "parentsGroups": groups,
          "assignmentType": assignmentType
        };

        //2.1 사용자 할당 요청
        $.ajax({
          url: "/userManageAssignment",
          data: JSON.stringify(data),
          contentType: "application/json",
          method: "POST",
          dataType: "json",
          success: function (responseData) {
            var msg = "";
            if(responseData.code === "S00"){
              if(assignmentType == 'assign'){
                msg="그룹이 정상적으로 할당되었습니다.";
              }
              else{
                msg="그룹이 정상적으로 회수되었습니다.";
              }
              alert(msg);
              $(".cm-loading").show();

              location.reload();
            }

          },
          error: function () {
            alert("서버에 접속할 수 없습니다.")
          }
        });
      }
    }

  function modify(button){
      button.classList.add("bg-green");
      button.innerHTML = "저장";
      $('input[name="userInfo"]').prop('disabled', false);
  }

  </script>
</html>
