<!DOCTYPE html>
<meta charset="utf-8">

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>인사이드정보</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- 글자크기에 따른 크기 조정 css-->
    <link href="/css/custom.css" rel="stylesheet">

    <link href="/dist/themes/default/style.min.css" rel="stylesheet"/>

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/js/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/js/treeview/jquery.treeview.css">


    <!-- Custom styles for this template-->
    <!--    <link href="/css/sb-admin-2.min.css" rel="stylesheet">-->
    <link href="/css/leedo_custom.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined"
          rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dg sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">인사이드정보 <sup>V1</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Heading -->
        <div class="sidebar-heading">
            관리자
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" onclick="getGroupList()" href="#" >
                <i class="fas fa-fw fa-cog"></i>
                <span>그룹 관리</span>
            </a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" onclick="getUserList()" href="#">
                <i class="fas fa-fw fa-wrench"></i>
                <span>사용자 관리</span>
            </a>
        </li>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" onclick="getRoleList()">
                <i class="fas fa-fw fa-folder"></i>
                <span>보안역할 관리</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>권한 관리</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="getLicenseList()">
                <i class="fas fa-fw fa-table"></i>
                <span>라이센스 관리</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            설정 및 공지
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>환경설정</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">환경설정:</h6>
                    <a class="collapse-item" href="#" onclick="getPersonalSync()">인사 정보 DB 동기화</a>
                    <a class="collapse-item" href="#" onclick="">리포팅 섹션 관리</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="getNoticeList()">
                <i class="fas fa-fw fa-table"></i>
                <span>공지사항</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="/img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>IBIP v1</strong> 해당 포탈이 마음에 든다면 계약&문의는 아래버튼을 클릭</p>
            <a class="btn btn-success btn-sm" href="#" onclick="toBeDeveloped()">관리자에게 연락!</a>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input id="searchKeyword" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-dg" type="button" onclick="searchReport()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <a href="/main/guest" class="btn btn-icon-split btn-sm"><span
                        class="text btn-text-responsive">사용자</span></a>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <img class="img-profile rounded-circle"
                                 src="/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <div id="main-content">
            </div>


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; INSIDEINFO_BI_PORTAL 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">현재 세션을 종료할 준비가 되었다면 아래 로그아웃을 클릭해주세요.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" onclick="logout()">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

<script src="/dist/jstree.min.js"></script>

<!--custom js, css-->
<script src="/js/leedo_custom.js"></script>
</body>

<script th:inline="javascript">

    var userId = [[${userInfo.userId}]]
    console.log("현재 접속한 사용자의 userId : " + userId);

    function getGroupList(){
        $.ajax({
            url: '/getGroupList',
            method: 'POST',
            dataType: "json",
            success: function (responseData) {
                console.log(responseData)
                var inputTable =`

                <div class="container-fluid" name="">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h5 class="text-gray-800 md-18">그룹 관리 총 <strong style="color: #007ca5">${responseData.length}</strong>건</h5>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-dg shadow-sm" onclick="window.open('/groupAdd', '', 'width=1000,height=400,location=no,status=no,scrollbars=yes')">그룹 생성</a>
                    </div>

                    <div class="rows">
                        <div id="contentDiv">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row" id="searchDiv">
                                                <div class="col-sm-12">
                                                            <table class="table-bmb" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                                                <thead>
                                                                <tr role="row">
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 5%;" aria-sort="ascending">번호
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 15%;" aria-sort="ascending">그룹명
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50%;" aria-sort="ascending">설명
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">소유자
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">하위 개체 수
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">생성일자
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                `;
                    for (var i = 0; i < responseData.length; i++) {
                        var reverseIndex = responseData.length - i;
                        inputTable +=
                            `
                            <tr class="odd" onclick="getGroupInfo('${responseData[i].groupId}')">
                                <td>${reverseIndex}</td>
                                <td class="_title"><a href="#" class="custom-ellipsis custom-title-ellipsis">${responseData[i].groupNm}</a></td>
                                <td class="_desc custom-ellipsis">${responseData[i].description}</td>
                                <td>${responseData[i].owner}</td>
                                <td>${responseData[i].childCnt}</td>
                                <td>${responseData[i].creationTime}</td>
                            </tr>
                        `
                    }
                    inputTable +=
                        `
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                `;

            $("#main-content").empty();
            $("#main-content").append(inputTable);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })
    }

    function getGroupInfo(groupId){
        window.open("/groupInfo?groupId="+groupId,'', 'width=995,height=813,location=no,status=no,scrollbars=yes');
    }

    function getPersonalSync(){

    }

    function getRoleList(){
        $.ajax({
            url: '/getRoleList',
            method: 'POST',
            dataType: "json",
            success: function (responseData) {
                var inputTable =`

                <div class="container-fluid" name="">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h5 class="text-gray-800 md-18">보안역할 관리 총 <strong style="color: #007ca5">${responseData.length}</strong>건</h5>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-dg shadow-sm" onclick="window.open('/roleAdd', '', 'width=1000,height=400,location=no,status=no,scrollbars=yes')">보안역할 생성</a>
                    </div>

                    <div class="rows">
                        <div id="contentDiv">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row" id="searchDiv">
                                                <div class="col-sm-12">
                                                            <table class="table-bmb" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                                                <thead>
                                                                <tr role="row">
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 5%;" aria-sort="ascending">번호
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20%;" aria-sort="ascending">보안역할 명
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 55%;" aria-sort="ascending">설명
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">소유자
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">변경 시간
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                `;
                for (var i = 0; i < responseData.length; i++) {
                    var reverseIndex = responseData.length - i;
                    inputTable +=
                        `
                            <tr class="odd" onclick="getRoleInfo('${responseData[i].roleId}')">
                                <td>${reverseIndex}</td>
                                <td class="_title"><a href="#" class="custom-ellipsis custom-title-ellipsis">${responseData[i].roleNm}</a></td>
                                <td class="_desc custom-ellipsis">${responseData[i].description}</td>
                                <td>${responseData[i].owner}</td>
                                <td>${responseData[i].modification}</td>
                            </tr>
                        `
                }
                inputTable +=
                    `
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                `;

                $("#main-content").empty();
                $("#main-content").append(inputTable);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        });

    }

    function getUserList(){
        $.ajax({
            url: '/getUserList',
            method: 'POST',
            dataType: "json",
            success: function (responseData) {
                console.log(responseData)
                var inputTable =`

                <div class="container-fluid" name="">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h5 class="text-gray-800 md-18">사용자 관리 총 <strong style="color: #007ca5">${responseData.length}</strong>건</h5>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-dg shadow-sm" onclick="window.open('/userAdd', '', 'width=1000,height=540,location=no,status=no,scrollbars=yes')">사용자 생성</a>
                    </div>

                    <div class="rows">
                        <div id="contentDiv">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row" id="searchDiv">
                                                <div class="col-sm-12">
                                                            <table class="table-bmb" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                                                <thead>
                                                                <tr role="row">
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 5%;" aria-sort="ascending">번호
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;" aria-sort="ascending">로그인 ID
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;" aria-sort="ascending">사용자명
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 45%;">설명
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">소유자
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 7%;">계정상태
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 13%;">변경시간
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                `;
                for (var i = 0; i < responseData.length; i++) {
                    var reverseIndex = responseData.length - i;
                    var enableStatus = responseData[i].enableStatus ? "활성화" : "비활성화";
                    inputTable +=
                        `
                            <tr class="odd" onclick="getUserInfo('${responseData[i].userId}')">
                                <td>${reverseIndex}</td>
                                <td class="_title"><a class="custom-ellipsis custom-title-ellipsis" href="#">${responseData[i].loginID}</a></td>
                                <td class="_desc custom-ellipsis">${responseData[i].userNm}</td>
                                <td class="_desc custom-ellipsis">${responseData[i].description}</td>
                                <td>${responseData[i].owner}</td>
                                <td>${enableStatus}</td>
                                <td>${responseData[i].modification}</td>
                            </tr>
                        `
                }
                inputTable +=
                    `
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                `;

                $("#main-content").empty();
                $("#main-content").append(inputTable);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })
    }

    function getNoticeList(){
        $.ajax({
            url: '/getNoticeList',
            method: 'POST',
            dataType: "json",
            success: function (responseData) {
                var inputTable =`

                <div class="container-fluid" name="">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h5 class="text-gray-800 md-18">공지사항 관리 총 <strong style="color: #007ca5">${responseData.length}</strong>건</h5>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-dg shadow-sm" onclick="window.open('/noticeAdd', '', 'width=1000,height=540,location=no,status=no,scrollbars=yes')">공지사항 생성</a>
                    </div>

                    <div class="rows">
                        <div id="contentDiv">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row" id="searchDiv">
                                                <div class="col-sm-12">
                                                            <table class="table-bmb" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                                                <thead>
                                                                <tr role="row">
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 5%;" aria-sort="ascending">번호
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 35%;" aria-sort="ascending">제목
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;" aria-sort="ascending">작성자
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20%;" aria-sort="ascending">등록일자
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20%;" aria-sort="ascending">수정일자
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;" aria-sort="ascending">팝업유무
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                `;
                for (var i = 0; i < responseData.length; i++) {
                    var reverseIndex = responseData.length - i;
                    inputTable +=
                        `
                            <tr class="odd" onclick="getNoticeInfo('${responseData[i].noticeId}')">
                                <td>${reverseIndex}</td>
                                <td class="_title"><a href="#" class="custom-ellipsis custom-title-ellipsis">${responseData[i].title}</a></td>
                                <td>${responseData[i].writer}</td>
                                <td>${responseData[i].regTs}</td>
                                <td>${responseData[i].modTs}</td>
                                <td>${responseData[i].popupYn}</td>
                            </tr>
                        `
                }
                inputTable +=
                    `
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                `;

                $("#main-content").empty();
                $("#main-content").append(inputTable);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        });
    }

    function getLicenseList(){
        $.ajax({
            url: '/getLicenseList',
            method: 'POST',
            dataType: "json",
            success: function (responseData) {
                var inputTable =`

                <div class="container-fluid" name="">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h5 class="text-gray-800 md-18">라이센스 관리 총 <strong style="color: #007ca5">${responseData.length}</strong>건</h5>
                    </div>

                    <div class="rows">
                        <div id="contentDiv">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row" id="searchDiv">
                                                <div class="col-sm-12">
                                                            <table class="table-bmb" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                                                <thead>
                                                                <tr role="row">
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 5%;" aria-sort="ascending">번호
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20%;" aria-sort="ascending">라이센스 타입
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 55%;" aria-sort="ascending">최대 사용자 수
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">총 사용자 수
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">활성화 사용자 수
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">비활성화 사용자 수
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                `;
                for (var i = 0; i < responseData.length; i++) {
                    var reverseIndex = responseData.length - i;
                    inputTable +=
                        `
                            <tr class="odd" onclick="getLicenseInfo('${responseData[i].licenseType}')">
                                <td>${reverseIndex}</td>
                                <td class="_title"><a href="#" class="custom-ellipsis custom-title-ellipsis">${responseData[i].licenseNm}</a></td>
                                <td>${responseData[i].maxUsage}</td>
                                <td>${responseData[i].totalUsage}</td>
                                <td>${responseData[i].enableUsage}</td>
                                <td>${responseData[i].disableUsage}</td>
                            </tr>
                        `
                }
                inputTable +=
                    `
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                `;

                $("#main-content").empty();
                $("#main-content").append(inputTable);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        });

    }

    function getUserInfo(userId){
        window.open("/userInfo?userId="+userId,'', 'width=995,height=813,location=no,status=no,scrollbars=yes');
    }

    function getRoleInfo(roleId){
        window.open("/roleInfo?roleId="+roleId,'', 'width=1041,height=906,location=no,status=no,scrollbars=yes');
    }

    function getLicenseInfo(licenseType){
        window.open("/licenseInfo?licenseType="+licenseType,'','width=995,height=813,location=no,status=no,scrollbars=yes');
    }

    function getNoticeInfo(noticeId){
        window.open("/noticeInfo?noticeId="+noticeId,'','width=1000,height=781,location=no,status=no,scrollbars=yes');
    }

    function toBeDeveloped(){
        alert("IBIP v2 개발 예정 기능입니다.");
        return;
    }
</script>
</html>