<!DOCTYPE html>
<meta charset="utf-8">

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InsideInfo BI Portal</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- 글자크기에 따른 크기 조정 css-->
    <link href="/css/custom.css" rel="stylesheet">

    <link href="/dist/themes/default/style.min.css" rel="stylesheet"/>

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/js/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/js/treeview/jquery.treeview.css">


    <!-- Custom styles for this template-->
    <!--    <link href="/css/sb-admin-2.min.css" rel="stylesheet">-->
    <link href="/css/leedo_custom.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined"
          rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-gb sidebar sidebar-dark accordion" id="accordionSidebar" style="overflow:auto; overflow-y: scroll;height: 400px;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main/guest">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text-custom-flex mx-3">인사이드정보 <sup>v1</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            공유 리포트
        </div>

        <div id="jstree">

        </div>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            My Data
        </div>


        <div id="jstree2">

        </div>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="getSubscriptionURL()">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>내 구독물</span></a>
        </li>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="getHistoryListURL()">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>사용내역목록</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="/img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>IBIP v1</strong> 해당 포탈이 마음에 든다면 계약&문의는 아래버튼을 클릭!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">관리자에게 연락!</a>
        </div>
    </ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input id="searchKeyword" type="text" class="form-control bg-light border-0 small" placeholder="리포트 혹은 도씨에를 검색..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-gb" type="button" onclick="searchReport()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <div th:if="${userInfo.adminYn == 'Y'}">
                    <!-- 관리자인 경우 상단 메뉴 표시 admin yn -->
                    <a href="/adminPage" class="btn btn-icon-split btn-sm"><span
                            class="text btn-text-responsive">관리자</span></a>

<!--                    <a href="#" class="btn btn-icon-split btn-sm"><span-->
<!--                            class="text btn-text-responsive">사용자 관리</span></a>-->

<!--                    <a href="#" class="btn btn-icon-split btn-sm"><span class="text btn-text-responsive">보안역할 관리</span></a>-->

<!--                    <a href="#" class="btn btn-icon-split btn-sm"><span-->
<!--                            class="text btn-text-responsive">권한 관리</span></a>-->

<!--                    <a href="#" class="btn btn-icon-split btn-sm"><span class="text btn-text-responsive">라이센스 관리</span></a>-->

<!--                    <a href="#" class="btn btn-icon-split btn-sm"><span class="text btn-text-responsive">환경설정</span></a>-->

<!--                    <a href="#" class="btn btn-icon-split btn-sm"><span class="text btn-text-responsive">공지사항</span></a>-->
                </div>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:id="${userInfo.userId}"
                                  th:text="${userInfo.userName}"></span>
                            <img class="img-profile rounded-circle"
                                 src="/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                내정보
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                환경설정
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                접속 이력
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <div id="main-content">
            </div>


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; INSIDEINFO_BI_PORTAL 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">현재 세션을 종료할 준비가 되었다면 아래 로그아웃을 클릭해주세요.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary" onclick="logout()">로그아웃</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

<script src="/dist/jstree.min.js"></script>

<!--custom js, css-->
<script src="/js/leedo_custom.js"></script>

<script th:inline="javascript">
    var userId = [[${userInfo.userId}]]
    console.log("현재 접속한 사용자의 userId : " + userId);

    $(document).ready(function () {

        // getPopup();
        //
        // getDashboardURL();

        $('#jstree').jstree({
            'core': {
                'data': {
                    'url': function (node) {
                        return node.id === '#' ? '/folder/get/shareReport' : '/folder/subList?folderId='+node.id;
                        // Adjust the URLs based on your server-side implementation
                    },
                    'data': function (node) {
                        console.log(node);
                        return { 'id': node.id };
                        // Send any additional data along with the request
                    }
                },
                "check_callback":true,
            },
            'plugins' : ["types", "contextmenu", "sort"], // plugin 목록에 추가
            'types': {
                8: { // tp 8= 폴더
                    "icon": "jstree-folder",
                },
                3:{ // tp 3= 리포트
                    // "icon": "/dist/themes/default/report.png", //file 아이콘
                    "icon": "fa fa-file", //file 아이콘
                    "max_children": 0, //leaf이므로 자식을 못갖도록 설정
                    "max_depth":0,
                    "a_attr":{style: "font-color:black;"}
                },
                55:{ // tp 55= 다큐먼트
                    // "icon":"/dist/themes/default/document.png", //file 아이콘
                    "icon": "fa fa-file text-success", //file 아이콘
                    "max_children": 0, //leaf이므로 자식을 못갖도록 설정
                    "max_depth":0,
                },
                // 10:{ // tp 10= 프롬프트
                //     "icon":"/dist/themes/default/prompt.png", //file 아이콘
                //     "max_children": 0, //leaf이므로 자식을 못갖도록 설정
                //     "max_depth":0,
                // },
                "default":{
                    "icon": "jstree-icon jstree-folder"
                }
            },
            'sort': function(a,b){
                a1 = this.get_node(a);
                b1 = this.get_node(b);
                if (a1.icon == b1.icon) {
                    return (a1.text > b1.text) ? 1 : -1;
                }
                else{
                    return (a1.icon < b1.icon) ? 1 : -1;
                }
            },
            'contextmenu': {
                "items": function($node){
                    console.log($node)
                    var tree = $("#tree").jstree(true);
                    if($node.type == 8){
                        return {
                            "Menu1": {
                                "separator_before": false,
                                "separator_after": true,
                                "label": "폴더 상세정보 보기", //메뉴 표기 (제목)
                                "icon": 'jstree-folder', //menu icon
                                action: function(obj){
                                    console.log(obj);
                                    alert("이 폴더의 ID는 : "+ $node.id);
                                }
                            }
                        }
                    }
                }
            }
        });

        $('#jstree2').jstree({
            'core': {
                'data': {
                    'url': function (node) {
                        return node.id === '#' ? '/folder/myData' : '/folder/subList?folderId='+node.id;
                        // Adjust the URLs based on your server-side implementation
                    },
                    'data': function (node) {
                        console.log(node);
                        return { 'id': node.id };
                        // Send any additional data along with the request
                    }
                },
                "check_callback":true,
            },
            'plugins' : ["types", "contextmenu", "sort"], // plugin 목록에 추가
            'types': {
                8: { // tp 8= 폴더
                    "icon": "jstree-folder",
                },
                3:{ // tp 3= 리포트
                    "icon": "fa fa-file",
                    "max_children": 0, //leaf이므로 자식을 못갖도록 설정
                    "max_depth":0,
                },
                55:{ // tp 55= 다큐먼트
                    "icon":"fa fa-file text-success",
                    "max_children": 0, //leaf이므로 자식을 못갖도록 설정
                    "max_depth":0,
                },
                "default":{
                    "icon": "jstree-icon jstree-folder"
                }
            },
            'sort': function(a,b){
                a1 = this.get_node(a);
                b1 = this.get_node(b);
                if (a1.icon == b1.icon) {
                    return (a1.text > b1.text) ? 1 : -1;
                }
                else{
                    return (a1.icon < b1.icon) ? 1 : -1;
                }
            },
            'contextmenu': {
            "items": function($node){
                console.log($node)
                var tree = $("#tree").jstree(true);
                if($node.type == 8){
                    return {
                        "Menu1": {
                            "separator_before": false,
                            "separator_after": true,
                            "label": "폴더 상세정보 보기", //메뉴 표기 (제목)
                            "icon": 'jstree-folder', //menu icon
                            action: function(obj){
                                console.log(obj);
                                alert("이 폴더의 ID는 : "+ $node.id);
                            }
                        }
                    }
                }
            }
        }
        });


        // 클릭 된 노드 확인 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {
            console.log(data.selected);
        });

        $('#jstree').on("select_node.jstree", function(e, data){
            var node = data.node;

            if (node.type === 3){
                var requestData = {'reportId': node.id, 'documentType' : 'R'}

                $.ajax({
                    url: '/report/get',
                    data: requestData,
                    method: 'GET',
                    dataType: "json",
                    success: function (responseData) {
                        console.log(responseData)
                        if(responseData.promptExist){
                            promptSetting(responseData);
                        }
                        else{
                            if(responseData.code){
                                alert(responseData.msg);
                            }
                            else{
                                alert("해당 리포트에 문제가 발견되었습니다. 확인 후 다시 실행해주세요.");
                            }
                        }
                    },
                    error: function () {
                        alert("서버에 접속할 수 없습니다.")
                    }
                })

            } else if (node.type === 55){ //다큐먼트
                var requestData = {'reportId': node.id, 'documentType' : 'D'}

                $.ajax({
                    url: '/report/get',
                    data: requestData,
                    method: 'GET',
                    dataType: "json",
                    success: function (responseData) {
                        if(responseData.promptExist){
                            promptSetting(responseData);
                        }
                        else{
                            if(responseData.code){
                                alert(responseData.msg);
                            }
                            else{
                                alert("해당 다큐먼트 문제가 발견되었습니다. 확인 후 다시 실행해주세요.");
                            }
                        }
                    },
                    error: function () {
                        alert("서버에 접속할 수 없습니다.")
                    }
                })
            }else if (node.type === 10){
                alert("프롬프트입니다.")
            }
        })


        $('#jstree2').on("select_node.jstree", function(e, data){
            var node = data.node;

            if (node.type === 3){
                var requestData = {'reportId': node.id, 'documentType' : 'R'}

                $.ajax({
                    // url: '/folder/report',
                    url: '/report/get',
                    data: requestData,
                    method: 'GET',
                    dataType: "json",
                    success: function (responseData) {
                        console.log(responseData)
                        if(responseData.promptExist){
                            promptSetting(responseData);
                        }
                        else{
                            if(responseData.code){
                                alert(responseData.msg);
                            }
                            else{
                                alert("해당 다큐먼트 문제가 발견되었습니다. 확인 후 다시 실행해주세요.");
                            }
                        }
                    },
                    error: function () {
                        alert("서버에 접속할 수 없습니다.")
                    }
                })

            } else if (node.type === 55){ //다큐먼트
                var requestData = {'reportId': node.id, 'documentType' : 'D'}

                $.ajax({
                    // url: '/folder/report',
                    url: '/report/get',
                    data: requestData,
                    method: 'GET',
                    dataType: "json",
                    success: function (responseData) {
                        if(responseData.promptExist){
                            promptSetting(responseData);
                        }
                        else{
                            if(responseData.code){
                                alert(responseData.msg);
                            }
                            else{
                                alert("해당 다큐먼트 문제가 발견되었습니다. 확인 후 다시 실행해주세요.");
                            }
                        }
                    },
                    error: function () {
                        alert("서버에 접속할 수 없습니다.")
                    }
                })
            }
        })


    });




    var tagTypeMap = {
        "radio": "radio",
        "checkbox": "checkbox",
        "selectbox": "select"
    };

    // 프롬프트 세팅
    function promptSetting(reportInfo){

        $("#main-content").empty();

        //리포트의 기본정보를 화면에 표시
        // 1. 템플릿 유무에 따른 버튼? (아니면 일단 버튼은 다 나타낼 것)
        var makeReportInfoHtml = `
            <div class="container-fluid" name="reportDiv">
                <h3 class="h5 text-gray-800 md-18">${reportInfo.reportPath}</h3>
                            <div class="d-sm-flex align-items-center justify-content-end mb-4">
                                <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm md-4" onclick="getReportURL('${reportInfo.reportId}', 'N', '', '${reportInfo.documentType}')"> 조회</button>
                                <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm md-4" onclick="getReportURL('${reportInfo.reportId}', 'Y','', '${reportInfo.documentType}')"> 편집</button>
                                <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm md-4" popupYn = 'Y' onclick="getReportURL('${reportInfo.reportId}', 'N', '','${reportInfo.documentType}' )"> 새창으로 열기</button>
                                <button href="#" id="foldAndOpen" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm md-4" onclick="promptToggle()">프롬프트 접기</button>
                                <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm md-4" onclick="templateSave('${reportInfo.reportId}', '${reportInfo.documentType}')"> 템플릿 저장</button>
                                <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm md-4" onclick="getTemplateList('${reportInfo.reportId}')"> 템플릿 불러오기</button>
                                <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm md-4" popupYn = 'Y' onclick="getReportURL('${reportInfo.reportId}', 'N', 'E', '${reportInfo.documentType}')"><i class="fas fa-download fa-sm text-white-50"></i> 엑셀 내보내기</button>
                                <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm md-4" popupYn = 'Y' onclick="getReportURL('${reportInfo.reportId}', 'N', 'P', '${reportInfo.documentType}')"><i class="fas fa-download fa-sm text-white-50"></i> PDF 내보내기</button>
                            </div>
                            <div id="reportDiv">
                                <div class="rows" style="overflow:scroll; height: 700px;">
                                    <div class="popup-window gray-border" id="reportDataDiv">
                                        <div class="popup__head id="${reportInfo.reportId}">
                                            <input type="hidden" id="reportNm" value="${reportInfo.reportNm}" />
                                            <h5 class="h5_custom_leedo">${reportInfo.reportNm}</h5>
                                        </div>
                                        <div id="promptDiv">
                                        </div>
                                    </div>
                                    <div id="contentDiv">
                                    </div>
                                </div>
                            </div>
        `
        //main부분에 리포트 정보 삽입
        $("#main-content").prepend(makeReportInfoHtml);

        //프롬프트 개수만큼 반복함
        if(reportInfo.prompts){
            for(var i=0; i<reportInfo.prompts.length; i++){
                var reportDetail = {'reportId': reportInfo.reportId, 'reportNm': reportInfo.reportNm}

                if(reportInfo.prompts[i].promptType === "element"){
                    elementPromptSetting(reportDetail, reportInfo.prompts[i]) //구성요소 프롬프트 세팅 함수 호출  (프롬프트 보내기)
                }
                else if(reportInfo.prompts[i].promptType === "value"){
                    valuePromptSetting(reportDetail, reportInfo.prompts[i]) // 값 프롬프트 세팅 함수 호출
                }
                else if(reportInfo.prompts[i].promptType === "object"){
                    objectPromptSetting(reportDetail, reportInfo.prompts[i]) // 개체 프롬프트 세팅 함수 호출
                }
            }
        }
    }

    function promptDataParsing(prompt, index){
        var promptInfo = {};
        promptInfo.promptId = prompt.attr('id');
        promptInfo.promptNm = prompt.attr('title')
        promptInfo.pt = prompt.attr('pt');

        if(prompt.attr('promptType') === 'element'){
            var attrInfo = {};
            promptInfo.promptType = 'element';
            console.log(promptInfo);

            var attrParser = $("[name='attr']").eq(index);

            attrInfo.attrId = attrParser.attr('id');
            attrInfo.attrType = attrParser.attr('attrType');
            console.log(attrInfo);

            var elements = [];
            var elementParser = $("[name='" + promptInfo.promptId + "']");

            elementParser.each(function(){
                var elementType = $(this).attr('type');

                if((elementType === 'checkbox' || elementType === 'radio') && $(this).is(':checked')){
                    elements.push({elementId : $(this).attr('id'), elementNm: $(this).next("label").text(), promptId: promptInfo.promptId})
                }
                else if(elementType === 'selectbox' && $(this).is(':selected')){
                    elements.push({elementId: $(this).attr('id'), elementNm: $(this).attr('text'), promptId: promptInfo.promptId})
                }
            })

            console.log(elementParser);
            console.log(elements);

            attrInfo.elements = elements;
            promptInfo.attr = attrInfo;

            return promptInfo;
        }
        else if(prompt.attr('promptType') === 'value'){
            promptInfo.promptType = 'value';

            var valueParser = $("[name='" + promptInfo.promptId + "']");
            promptInfo.val = valueParser.val();
            return promptInfo;
        }
        else if(prompt.attr('promptType') === 'object'){
            promptInfo.promptType = 'object';

            var entities = [];
            var entityParser = $("[name='" + promptInfo.promptId + "']");

            entityParser.each(function(){
                var entityType = $(this).attr('type');

                if((entityType === 'checkbox' || entityType === 'radio') && $(this).is(':checked')){
                    entities.push({entityId: $(this).attr('id'), entityNm: $(this).next("label").text(), entityType: $(this).attr('entityType'), promptId: promptInfo.promptId})
                }
                else if(entityType === 'selectbox' && $(this).is(':selected')){
                    entities.push({entityId: $(this).attr('id'), entityNm: $(this).attr('text'), entityType: $(this).attr('entityType'), promptId: promptInfo.promptId})
                }
            })
            promptInfo.entity = entities;
            return promptInfo;
        }

    }

    // 리포트 호출 URL 생성
    function getReportURL(reportId, editYn, exportType, documentType){
        //reportId, promptId, attrId, promptType
        var reportInfo = {};
        //리포트 필요한 것
        reportInfo.reportId = reportId;
        reportInfo.prompts = [];
        reportInfo.editYn = editYn;
        reportInfo.documentType = documentType;
        console.log(documentType);

        var breakLoop = false;

        var promptInfo = $("[name='prompt']");

        promptInfo.each(function(index, prompt){

            if(validMinMax($(prompt))==='min'){
                $(prompt).focus();
                $(prompt).css("color", "red");
                setTimeout(function(){
                    $(prompt).css("color","");
                }, 5000);
                alert($(prompt).attr("title") + "의 최솟값에 부합하지 않습니다." + "\n최솟값 : " + $(prompt).attr("minValue"));
                breakLoop = true;
                return false;
            }
            else if(validMinMax($(prompt))==='max'){
                $(prompt).focus();
                $(prompt).css("color", "red");
                setTimeout(function(){
                    $(prompt).css("color","");
                }, 5000);
                alert($(prompt).attr("title") + "의 최댓값에 부합하지 않습니다." + "\n최댓값 : " + $(prompt).attr("maxValue"));
                breakLoop = true;
                return false;
            }
            reportInfo.prompts.push(promptDataParsing($(prompt), index));
            console.log("Element :" + $(prompt).attr("promptType"));
        })

        if(breakLoop){
            return false;
        }

        console.log(reportInfo);
        var popupYn = $(event.target).attr('popupYn');
        console.log(popupYn);

        reportInfo.exportType = exportType;

        $.ajax({
            url: '/report/get/URL',
            data: JSON.stringify(reportInfo),
            contentType: "application/json",
            method: 'POST',
            dataType: "text",
            success: function (responseData) {
                console.log(responseData)
                var iframe = $("<iframe>", {
                    "src": responseData,
                    "width": "100%",
                    "height": "720px" // 조절해야 할 크기
                });
                if(popupYn === 'Y'){
                    window.open(responseData, '', 'width=1400,height=600');
                }
                else{
                    var $promptDiv = $('#promptDiv');
                    if ( $promptDiv.css('display') != 'none' ) {
                        $('#foldAndOpen').text('프롬프트 펼치기');
                        $promptDiv.toggle();
                    }
                    // promptToggle();
                    // // iframe을 한번 비운 뒤에
                    $("#contentDiv").empty().addClass("gray-border");
                    // iframe을 특정 컨테이너에 추가
                    $("#contentDiv").append(iframe);
                }
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })
    }

    function promptToggle(){
        var $promptDiv = $('#promptDiv');
        $promptDiv.toggle();
        if ($promptDiv.css('display') == 'none' ) {
            $('#foldAndOpen').text('프롬프트 펼치기');
        }
        else{
            $('#foldAndOpen').text('프롬프트 접기');
        }
    }

    //최소, 최대 값 유효성 검사
    function validMinMax(prompt){
        if(prompt.attr("promptType") === 'value' && prompt.attr("subType")==='date'){
            var parseMin = new Date(prompt.attr("minValue"));
            var parseMax = new Date(prompt.attr("maxValue"));
        }
        else{
            var parseMin = parseInt(prompt.attr("minValue"));
            var parseMax = parseInt(prompt.attr("maxValue"));
        }

        // 각 태그에 맞게 선택 된 갯수로 검증한다.
        var childSize = 0;
        var inputType = prompt.find("input").attr("type");
        var subType = prompt.attr("subType");

        console.log(subType);

        if(inputType === "checkbox"){
            childSize = prompt.find("input[type='checkbox']:checked").length;
        }
        else if(inputType === "radio"){
            childSize = prompt.find("input[type='radio']:checked").length;
        }
        else if(inputType === "date"){
            childSize = new Date(prompt.find("input[type='date']").val());
        }
        else if(inputType === "text" && subType === "double"){
            childSize = prompt.find("input[type='text']").val();
        }
        else if(inputType === "text" && subType === "string") {
            childSize = prompt.find("input[type='text']").val().length;
        }
        else{
            childSize = prompt.find("select option:selected").length;
        }

        console.log(inputType);
        console.log(parseMin)
        console.log(parseMax)
        console.log(childSize)
        return childSize < parseMin ? "min" : childSize > parseMax ? "max" : true;
    }


    // 개체 프롬프트 세팅
    function objectPromptSetting(reportInfo, promptInfo){

        // 프롬프트의 타입 설정
        var tagName = tagTypeMap[promptInfo.tagType] || "checkbox";

        // 구성요소 리스트 선언
        var entitiesArray = promptInfo.entity;

        console.log(tagName)
        // radio나 select box는 선택된 목록이 1개 여야함.
        if (tagName === "radio" || tagName === "select") {
            // 구성요소 프롬프트에서 defaultAnswerYn 값이 'Y'인 개수를 세기
            var checkedCount = entitiesArray.filter(function(element) {
                return element.defaultAnswerYn === 'Y';
            }).length;

            console.log("선택수 : " + checkedCount)

            var errorMsg = "["+promptInfo.promptId +"] 프롬프트의 설정이 " + tagName + "이지만 기본 값이 2개 이상입니다. 설정 수정 후 재시작하여 주십시오";
            // 만약 checkedCount가 2개 이상인 경우 경고창 표시 후 종료
            if (checkedCount >= 2) {
                alert(errorMsg);
                return;
            }
        }

        // 개체 적재 테이블 생성

        var makeHtml = `

                        <div name="prompt" tabindex="0" id="${promptInfo.promptId}" title="${promptInfo.title}" minValue="${promptInfo.minValue}" maxValue="${promptInfo.maxValue}" promptType="object" pt="${promptInfo.pt}">
                                <div class="popup__body_custom">
                                    <h3 class="font-weight-bold">${promptInfo.title}</h3>
`;
        if(tagName === "select"){
            makeHtml +=`<div className=checkbox-container"><select style="margin-left: 9px;">`

            for(var i=0; i<entitiesArray.length; i++){
                makeHtml += `
                        <option type="selectbox" name="${promptInfo.promptId}" id="${entitiesArray[i].entityId}" value="${entitiesArray[i].entityId}" text="${entitiesArray[i].entityNm}" entityType="${entitiesArray[i].entityType}" ${entitiesArray[i].defaultAnswerYn === 'Y' ? 'selected' : ''}>
                            ${entitiesArray[i].entityNm}
                        </option>
            `
            };
            makeHtml += `</select></div>`
        }

        else{
            makeHtml += `
                <div class=checkbox-container">
                `;
            for(var i=0; i<entitiesArray.length; i++){
                if (i % 10 === 0) {
                    makeHtml += '<div class="row" style="margin: 10px">';
                }
                makeHtml +=`
                        <input type="${tagName}" name="${promptInfo.promptId}" id="${entitiesArray[i].entityId}" text="${entitiesArray[i].entityNm}" entityType="${entitiesArray[i].entityType}" value="${entitiesArray[i].entityId}" ${entitiesArray[i].defaultAnswerYn === 'Y' ? 'checked' : ''}>
                        <label style="margin: 5px" for="${entitiesArray[i].entityId}">${entitiesArray[i].entityNm}</label>
            `;
                if ((i + 1) % 10 === 0 || i === entitiesArray.length - 1) {
                    makeHtml += '</div>';
                }
            }
        }
        makeHtml += `           </div>
                            </div>
                       </div>

        `;

        $("#promptDiv").prepend(makeHtml);
    }

    // 값 프롬프트 세팅
    function valuePromptSetting(reportInfo, promptInfo){

        //1. 값 프롬프트 적재 HTML 생성
        var makeHtml = `

                        <div name="prompt" tabindex="0" id="${promptInfo.promptId}" title="${promptInfo.title}" minValue="${promptInfo.minValue}" maxValue="${promptInfo.maxValue}" promptType="value" pt="${promptInfo.pt}" subType="${promptInfo.promptSubType}">
                                <div class="popup__body_custom">
                                    <h3 class="font-weight-bold">${promptInfo.promptNm}</h3>
                                    <div class=checkbox-container">
                        `;
        if(promptInfo.promptSubType === "date"){
            makeHtml += `<input type="date" name="${promptInfo.promptId}" minValue="${promptInfo.minValue}" maxValue="${promptInfo.maxValue}" value="${promptInfo.val}" subType="${promptInfo.promptSubType}">
                </div>`;
        }else{
            makeHtml += `<input type="text" name="${promptInfo.promptId}" minValue="${promptInfo.minValue}" maxValue="${promptInfo.maxValue}" value="${promptInfo.val}" subType="${promptInfo.promptSubType}">
                </div>`;
        }

;

        $("#promptDiv").prepend(makeHtml);

    }

    // 구성요소 프롬프트 세팅
    function elementPromptSetting(reportInfo, promptInfo){
        // 프롬프트의 타입 설정
        var tagName = tagTypeMap[promptInfo.tagType] || "checkbox";

        // 구성요소 리스트 선언
        var elementsArray = promptInfo.attr.elements;


        // radio나 select box는 선택된 목록이 1개 여야함.
        if (tagName === "radio" || tagName === "select") {
            // 구성요소 프롬프트에서 defaultAnswerYn 값이 'Y'인 개수를 세기
            var checkedCount = elementsArray.filter(function(element) {
                return element.defaultAnswerYn === 'Y';
            }).length;

            var errorMsg = "해당 프롬프트의 설정이 " + tagName + "이지만 기본 값이 2개 이상입니다. 설정 수정 후 재시작하여 주십시오";
            // 만약 checkedCount가 2개 이상인 경우 경고창 표시 후 종료
            if (checkedCount >= 2) {
                alert(errorMsg);
                return;
            }
        }

        // 구성요소 적재 테이블 생성
        var makeHtml = `

                        <div name="prompt" tabindex="0" id="${promptInfo.promptId}" title="${promptInfo.title}" minValue="${promptInfo.minValue}" maxValue="${promptInfo.maxValue}" childSize="${promptInfo.childSize}" promptType="element" pt="${promptInfo.pt}">
                                <div class="popup__body_custom">
                                    <h3 class="font-weight-bold" name="attr", id="${promptInfo.attr.attrId}", attrType="${promptInfo.attr.attrType}">${promptInfo.attr.attrNm}</h3>
`;
        if(tagName === "select"){
            makeHtml +=`<div className=checkbox-container"><select style="margin-left: 9px;">`

            for(var i=0; i<elementsArray.length; i++){
                makeHtml += `
                        <option type="selectbox" name="${promptInfo.promptId}" id="${elementsArray[i].elementId}" value="${elementsArray[i].elementId}"  text="${elementsArray[i].elementNm}" value="${elementsArray[i].elementId}" ${elementsArray[i].defaultAnswerYn === 'Y' ? 'selected' : ''}>
                            ${elementsArray[i].elementNm}
                        </option>
            `
            };
            makeHtml += `</select></div>`
        }
        else{
            makeHtml += `
                <div class=checkbox-container">
                `;
            for(var i=0; i<elementsArray.length; i++){
                if (i % 10 === 0) {
                    makeHtml += '<div class="row" style="margin: 10px">';
                }
                makeHtml +=`
                        <input type="${tagName}" name="${promptInfo.promptId}" id="${elementsArray[i].elementId}" text="${elementsArray[i].elementNm}" value="${elementsArray[i].elementId}" ${elementsArray[i].defaultAnswerYn === 'Y' ? 'checked' : ''}>
                        <label style="margin: 5px" for="${elementsArray[i].elementId}">${elementsArray[i].elementNm}</label>
            `;
                if ((i + 1) % 10 === 0 || i === elementsArray.length - 1) {
                    makeHtml += '</div>';
                }
            }
        }
        makeHtml += `           </div>
                            </div>
                       </div>

`;

        $("#promptDiv").prepend(makeHtml);
    }

    function getMain() {
        window.location.href = "/main";
    }

    function logout() {
        $.ajax({
            url: '/auth/logout',
            method: 'POST',
            dataType: "json",
            success: function (responseData) {
                console.log(responseData)
                if (responseData.code === 'S00') {
                    location.href = "/auth/login"
                } else {
                    alert(responseData.msg)
                }
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })

    }

    // 사용내역목록 URL 생성
    function getHistoryListURL() {

        $.ajax({
            url: '/main/historyList',
            data: JSON.stringify(),
            contentType: "application/json",
            method: 'POST',
            dataType: "text",
            success: function (responseData) {
                console.log(responseData)
                var makeHtml = `

                        <div class="container-fluid">
                            <h3 class="h5 text-gray-800 md-18">내 사용내역목록</h3>
                            <div class="d-sm-flex align-items-center justify-content-end mb-4">
                            </div>
                            <div class="gray-border">
                                <iframe src="${responseData}", style="height: 720px; width: 100%;">
                                </iframe>
                            </div>
                        </div>

`;
                $("#main-content").empty();
                $("#main-content").append(makeHtml);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })

    }

    function getSubscriptionURL() {

        $.ajax({
            url: '/main/subscription',
            data: JSON.stringify(),
            contentType: "application/json",
            method: 'POST',
            dataType: "text",
            success: function (responseData) {
                console.log(responseData)
                var makeHtml = `

                        <div class="container-fluid">
                            <h3 class="h5 text-gray-800 md-18">내 구독물</h3>
                            <div class="d-sm-flex align-items-center justify-content-end mb-4">
                            </div>
                            <div class="gray-border">
                                <iframe src="${responseData}", style="height: 720px; width: 100%;">
                                </iframe>
                            </div>
                        </div>

`;
                $("#main-content").empty();
                $("#main-content").append(makeHtml);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })

    }

    function getDashboardURL() {

        $.ajax({
            url: '/main/getDashboardURL',
            data: JSON.stringify({"userId": userId}),
            contentType: "application/json",
            method: 'POST',
            dataType: "text",
            success: function (responseData) {
                console.log(responseData)
                var makeHtml = `

                        <div class="container-fluid">
                            <h5 class="text-gray-800 md-18">Dashboard</h5>
                            <div class="d-sm-flex align-items-center justify-content-end mb-4">
                            </div>
                            <div class="gray-border">
                                <iframe src="${responseData}", style="height: 720px; width: 100%;">
                                </iframe>
                            </div>
                        </div>

`;
                $("#main-content").empty();
                $("#main-content").append(makeHtml);
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })

    }

    function searchReport() {

        var searchKeyword = $('#searchKeyword').val();

        if(validData(searchKeyword)){
            alert("검색어를 입력해주세요.");
            return;
        }

        $.ajax({
            url: '/main/search' + "?searchKeyword="+searchKeyword,
            method: 'GET',
            dataType: "json",
            success: function (responseData) {
                console.log(responseData)
                var inputTable;
                if(responseData.searchList) {
                    inputTable = `

                <div class="container-fluid" name="">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h5 class="text-gray-800 md-18">검색결과 총 <strong style="color: #122b4f">${responseData.searchList.length}</strong>건</h5>
                    </div>
                    <div class="rows">
                        <div id="contentDiv">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row" id="searchDiv">
                                                <div class="col-sm-12">
                                                            <table class="table-bmb" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                                                <thead>
                                                                <tr role="row">
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 4%;" aria-sort="ascending">번호
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;" aria-sort="ascending">문서명
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50%;">경로
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 11%;">소유자
                                                                    </th>
                                                                    <th class="" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 10%;">생성일자
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                `;
                    for (var i = 0; i < responseData.searchList.length; i++) {
                        var docName="";
                        var docType="";
                        var iconClass = "fa fa-file jstree-themeicon-custom";
                        if(responseData.searchList[i].resultType === 3){
                            docName= "리포트";
                            docType = "R";

                        }
                        else if(responseData.searchList[i].resultType === 55){
                            docName= "다큐먼트(도씨에)";
                            docType = "D";
                            iconClass += " text-success";
                        }
                        var reverseIndex = responseData.searchList.length - i;
                        inputTable +=
                            `
                            <tr class="odd" onclick="getReportData('${responseData.searchList[i].resultId}','${docType}')">
                                <td>${reverseIndex}</td>
                                <td class="_title"><i class="jstree-icon jstree-themeicon ${iconClass}" style="margin-right: 10px;"></i><a href="#" class="custom-ellipsis custom-title-ellipsis">${responseData.searchList[i].resultName}</a></td>
                                <td class="_desc custom-ellipsis">${responseData.searchList[i].resultPath}</td>
                                <td>${responseData.searchList[i].resultOwner}</td>
                                <td>${responseData.searchList[i].creationTime}</td>
                            </tr>
                        `
                    }
                    inputTable +=
                        `
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
`;
                }
            else{
                inputTable = `
                            <div class="container-fluid" name="">
                                <h3 class="h5 text-gray-800 md-18">검색결과가 없습니다.</h3>
                            </div>
                            `
            }
            console.log(inputTable);

            $("#main-content").empty();
            $("#main-content").append(inputTable);

            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })
    }

    function templateSave(reportId, documentType){
        if(confirm("현재 선택된 프롬프트 값을 저장하시겠습니까?")){

            //reportId, promptId, attrId, promptType
            var reportInfo = {};
            //리포트 필요한 것
            reportInfo.reportId = reportId;
            reportInfo.reportNm = $("#reportNm").val();
            reportInfo.prompts = [];
            reportInfo.documentType = documentType;

            var breakLoop = false;
            var promptInfo = $("[name='prompt']");

            if(promptInfo.length <= 0 ){
                alert("해당 문서는 프롬프트가 존재하지 않습니다.")
                return;
            }
            promptInfo.each(function(index, prompt){

                if(validMinMax($(prompt))==='min'){
                    $(prompt).focus();
                    $(prompt).css("color", "red");
                    setTimeout(function(){
                        $(prompt).css("color","");
                    }, 5000);
                    alert($(prompt).attr("title") + "의 최솟값에 부합하지 않습니다." + "\n최솟값 : " + $(prompt).attr("minValue"));
                    breakLoop = true;
                    return false;
                }

                else if(validMinMax($(prompt))==='max'){
                    $(prompt).focus();
                    $(prompt).css("color", "red");
                    setTimeout(function(){
                        $(prompt).css("color","");
                    }, 5000);
                    alert($(prompt).attr("title") + "의 최댓값에 부합하지 않습니다." + "\n최댓값 : " + $(prompt).attr("maxValue"));
                    breakLoop = true;
                    return false;
                }

                reportInfo.prompts.push(promptDataParsing($(prompt), index));
                console.log("Element :" + $(prompt).attr("promptType"));
            })

            if(breakLoop){
                return false;
            }

            var openWin = window.open("", "템플릿 저장","width=911 ,height=445");
            $.ajax({
                url: '/template/get/create',
                data: JSON.stringify(reportInfo),
                contentType: "application/json",
                method: 'POST',
                dataType: "html",
                success: function(responseData){
                    openWin.document.open();
                    openWin.document.write(responseData);
                    openWin.document.close();
                },
                error: function () {
                    alert("서버에 접속할 수 없습니다.")
                }
            })

            // window.open('/openTemplateAdd?reportInfo='+reportInfo, '템플릿 저장', 'width=907,height=370');
            // 리포트(다큐먼트) 정보
            // 프롬프트 정보
            // 프롬프트 하위의 개체 정보
            // 프롬프트의 요소 정보
            // 를 파싱하여 넘긴다. ReportVO가 생성이 되는 것
        }
    }

    function getReportData(reportId, docType){
        var requestData = {'reportId': reportId, 'documentType' : docType}

        $.ajax({
            url: '/report/get',
            data: requestData,
            method: 'GET',
            dataType: "json",
            success: function (responseData) {
                console.log(responseData)
                if(responseData.promptExist){
                    promptSetting(responseData);
                }
                else{
                    if(responseData.code){
                        alert(responseData.msg);
                    }
                    else{
                        alert("해당 리포트에 문제가 발견되었습니다. 확인 후 다시 실행해주세요.");
                    }
                }
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })
    }

    function getTemplateList(reportId){
        window.open('/template/get/list?reportId='+reportId+'&userId='+userId, '', 'width=1000,height=400,location=no,status=no,scrollbars=yes');
    }

    function getPopup(){
        $.ajax({
            url: '/getNoticePopupList',
            method: 'GET',
            dataType: "json",
            success: function (responseData) {
                console.log(responseData)
                if(responseData.length > 0){
                    for(var i=0; i < responseData.length; i++){
                        var cookieVal = getCookie(responseData[i]);
                        console.log(cookieVal);
                        if(cookieVal !== 'done') {
                            window.open('/getNoticePopup?noticeId=' + responseData[i], '', 'width=560,height=580,location=no,status=no,scrollbars=yes');
                        }
                    }
                }
            },
            error: function () {
                alert("서버에 접속할 수 없습니다.")
            }
        })
    }

    //쿠키 가져오기
    function getCookie(IdName) {
        var cookie = document.cookie;
        console.log('getCookie : '+IdName);
        if (document.cookie != "") {
            var cookie_array = cookie.split("; ");
            for ( var index in cookie_array) {
                var cookie_name = cookie_array[index].split("=");
                if (cookie_name[0] == IdName) {
                    return cookie_name[1];
                }
            }
        }
        return;
    }

    function setTemplateInfo(templateInfo){

        // 모든 체크박스 선택 후 체크 해제
        $('input[type="checkbox"]').prop('checked', false);

        // 모든 라디오 박스 선택 후 체크 해제
        $('input[type="radio"]').prop('checked', false);


        console.log(templateInfo)
        for(var i=0; i<templateInfo.length; i++){


            // 값 프롬프트 템플릿
            if(templateInfo[i].entityType == 10000){
                var $target = $('#'+ templateInfo[i].promptId);
                var $inputElement = $target.find('input');
                $inputElement.val(templateInfo[i].entityNm);
            }

            // 구성요소 프롬프트 템플릿
            else if(templateInfo[i].entityType == 20000){
                var $target = $('#'+ templateInfo[i].promptId);

                // $target 안에서 id가 templateInfo[i].entityId인 요소를 찾음
                var $filteredElements = $target.find('[id="' + templateInfo[i].entityId + '"]');

                // checkbox 또는 radio인 경우
                if ($filteredElements.is(':checkbox') || $filteredElements.is(':radio')) {
                    $filteredElements.prop('checked', true);
                }
                // selectbox인 경우
                else if ($filteredElements.is('select')) {
                    $filteredElements.val(templateInfo[i].entityNm);
                }
            }

            //개체 프롬프트 템플릿
            else{

                var $target = $('#'+ templateInfo[i].promptId);

                // $target 안에서 id가 templateInfo[i].entityId인 요소를 찾음
                var $filteredElements = $target.find('[id="' + templateInfo[i].entityId + '"]');

                // checkbox 또는 radio인 경우
                if ($filteredElements.is(':checkbox') || $filteredElements.is(':radio')) {
                    $filteredElements.prop('checked', true);
                }
                // selectbox인 경우
                else if ($filteredElements.is('option')) {
                    $filteredElements.prop('selected', true);
                }
            }

        }

    }

    function validData(data){
        if(data == "" || data.length == 0)
            return true;
        else
            return false;
    }
</script>
</body>

</html>