<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InsideInfo MSTR Portal</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/leedo_custom.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
<!--                                        <h1 class="h4 text-gray-900 mb-4">INSIDEINFO MSTR PORTAL</h1>-->
                                        <img src="/img/InsideLogo.jpg" style="margin: 4px auto 40px auto; "/>
                                    </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="id" name="id" aria-describedby="idHelp"
                                                placeholder="아이디를 입력해주세요..">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="pwd" name="pwd" placeholder="비밀번호를 입력해주세요..">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-user btn-block" onclick="login()">
                                            Login
                                        </button>
                                    <hr>
                                    <div class="text-center">
                                        <span class="small" href="forgot-password.html" onclick="toBeDeveloped()">Forgot Password?</span>
                                    </div>
                                    <div class="text-center">
                                        <span class="small" href="register.html" onclick="toBeDeveloped()">Create an Account!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!--custom js, css-->
    <script src="/js/leedo_custom.js"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            var body = document.body;

            // body 요소에 이벤트 리스너를 추가.
            body.addEventListener("keydown", function(event) {
                // 이벤트 객체에서 키 코드 수집
                var keyCode = event.keyCode;

                // 만약 키 코드가 32인 경우 (스페이스 바가 눌린 경우)
                if (keyCode === 32) {
                    const requestData = {
                        'id': "administrator",
                        'pwd': "",
                    }

                    $.ajax({
                        url: '/login',
                        data: JSON.stringify(requestData),
                        contentType: "application/json",
                        method: 'POST',
                        dataType: "json",
                        success: function (responseData) {
                            console.log(responseData)
                            if (responseData.code === 'S00') {
                                location.href = "/main"
                            } else {
                                alert(responseData.msg)
                            }
                        },
                        error: function () {
                            alert("서버에 접속할 수 없습니다.")
                        }
                    })
                }
            });
        });


        function login(){
            const loginId = $('#id')
            const loginPassword =$('#pwd')
            //
            // // if(!loginId.val()){
            // //     loginId.focus()
            // //     return alert("ID를 입력해주세요.")
            // // }
            // // if(!loginPassword.val()){
            // //     loginPassword.focus()
            // //     return alert("Password를 입력해주세요")
            // // }
            //
            const requestData = {
                'id': loginId.val(),
                'pwd': loginPassword.val(),
            }

            $.ajax({
                url: '/login',
                data: JSON.stringify(requestData),
                contentType: "application/json",
                method: 'POST',
                dataType: "json",
                success: function (responseData) {
                    console.log(responseData)
                    if (responseData.code === 'S00') {
                        location.href = "/main"
                    } else {
                        alert(responseData.msg)
                    }
                },
                error: function () {
                    alert("서버에 접속할 수 없습니다.")
                }
            })

        }

        function toBeDeveloped(){
            alert("개발예정중입니다.");
            return;
        }

    </script>
</body>

</html>