<%@ page language="java" contentType="text/html; charset=UTF-8"  pageEncoding="UTF-8"%>
<%@ include file="/plugins/wtk/jsp/common/include/pageCommon.jsp" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
</head>

<script>
	//=========================================================================
	// 화면을 닫는다.
	//	1. 화면을 닫는다.
	//=========================================================================
	function fnClose() {
		//var wind	= window.open('', '_self')
		//wind.close();
		location.href = "<%=rootPath%>/";
	}
</script>
<body class="error_page">
<div id="header">
    <div class="header_bg">
        <h1><img src="<%=wtkWebPath%>/images/common/logo.png?v=20191230001" alt="<%=appName%>" width="220px"/></h1>
    </div>
	<div class="header_bgB"></div>
	<div class="error_wrap">
		<div class="content">
			<div class="error_area">
				<!-- error -->
				<div class="errorpage">
					<p>
						<img src="<%=wtkWebPath%>/images/common/ico_error2.png" alt="Error" /><br/>
						<span>정상적으로 로그아웃하였습니다.</span>
						<div class="ub-control button session-wrap">
							<span class="ub-control button session-login" id="btnDetail" onClick="fnClose();">로그인페이지로 이동</span>
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
