<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>그룹 정보</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style2.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet" />
    <!-- JS -->
    <script type="text/javascript" src="assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="assets/js/common.js" defer></script>
  </head>

  <body>
    <div class="popup-window">
      <!--헤더,바디,푸터 레이아웃 레이어 팝업과 동일-->
      <div class="popup__head">
        <h1>IBIP</h1>
        <button class="btn btn-close js-close"><span class="hide">닫기</span></button>
      </div>
      <div class="popup__body">
        <section>
          <!--230222, section내용 전체 수정됨-->
          <h2>그룹 정보</h2>
          <div class="search">
            <form action="#" method="" name="userform">
              <fieldset>
                <legend>그룹 정보</legend>
                <ul class="form-input">
                  <li>
                    <div class="input-area">
                      <label for="id">그룹명</label>
                      <input type="hidden" th:value="${groupInfo.groupId}" id="groupId">
                      <input type="text" th:value="${groupInfo.groupNm}" id="groupNm">
                    </div>
                  </li>
                  <li>
                    <div class="input-area">
                      <label for="name3">설명</label>
                      <input type="text" id="name3" th:value="${groupInfo.description}"/>
                    </div>
                    <div class="input-area">
                      <label for="id">하위 개체 수</label>
                      <input type="text" id="id" th:value="${groupInfo.childCnt}"/>
                    </div>
                  </li>
                  <li>
                    <div class="input-area">
                      <label for="rank">생성일자</label>
                      <input type="text" id="rank" th:value="${groupInfo.creationTime}"/>
                    </div>
                    <div class="input-area">
                      <label for="eamil">소유자</label>
                      <input type="text" id="eamil" value="" th:value="${groupInfo.owner}"/>
                    </div>
                  </li>
                </ul>
              </fieldset>
            </form>
          </div>
        </section>
        <section>
          <h3>사용자 정보</h3>
          <div class="box">
            <div class="tbl-top">
            </div>
            <!--스크롤 테이블에 scroll 클래스 추가-->
            <!--230222, 테이블 항목 수정-->
            <div class="tbl-list scroll">
              <table summary="선택, 할당유무, 사용자id, 사용자명, 생성일시 항목으로 구성된 사용자 관리 리스트 입니다.">
                <caption>
                  그룹 관리 리스트
                </caption>
                <colgroup>
                  <col style="width: 5%" />
                  <col style="width: 5%" />
                  <col style="width: 15%" />
                  <col style="width: 15%" />
                  <col style="width: 10%" />
                  <col style="width: 12%" />
                  <col style="width: 18%" />
                  <col style="width: 20%" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">
                      <input type="checkbox" id="chkAll" onclick="selectAll(this)"/>
                    </th>
                    <th scope="col">할당유무</th>
                    <th scope="col">로그인ID</th>
                    <th scope="col">사용자명</th>
                    <th scope="col">계정상태</th>
                    <th scope="col">소유자</th>
                    <th scope="col">변경시간</th>
                    <th scope="col">설명</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="users : ${groupInfo.users}" th:class="${users.assignYn} == 'Y'? 'pick' : '' ">
                    <td><input type="checkbox" id="c2" name="chk" th:value="${users.userId}"/></td>
                    <td th:text="${users.assignYn}"></td>
                    <td th:text="${users.loginID}"></td>
                    <td th:text="${users.userNm}"></td>
                    <td th:text="${users.enableYn ? '활성화' : '비활성화'}"></td>
                    <td th:text="${users.owner}"></td>
                    <td th:text="${users.modification}"></td>
                    <td th:text="${users.description}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--230222, tbl-bottom 위치 수정 : <div class="box"> 안으로 이동-->
            <div class="tbl-bottom">
              <div class="left">
                <button type="button" onclick="assign()"><span>할당</span></button>
                <button type="button" onclick="unassign()"><span>회수</span></button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--230222, 버튼 영역 수정-->
      <div class="popup__footer">
        <button type="button" class="pop-close bg-gray"><span>취소</span></button>
        <button type="button"><span>저장</span></button>
      </div>
    </div>
  </body>
  <script th:inline="javascript">
    // 체크박스 전체 선택
    function selectAll(chkAll){

      $('input:checkbox[name="chk"]').each(function() {
        this.checked = chkAll.checked
      });

    }
    //전체 선택, 해제 비교
    $("input[name=chk]").click(function() {
      var total = $("input[name=chk]").length;
      var checked = $("input[name=chk]:checked").length;

      if(total != checked) $("#chkAll").prop("checked", false);
      else $("#chkAll").prop("checked", true);
    });

    function validCheck(type){

      //할당정보 YN
      var checkAssign = true;
      var checkmsg = "";

      var type = type

      if($('input[name=chk]:checked').length === 0){
        checkmsg ="선택된 항목이 없습니다.";
        checkAssign = false;
      }

      else {
        // 체크 된 ID중 할당정보에 따른 검사
        $('input[name=chk]:checked').each(function (index) {
          //선택된 체크박스의 tr
          var selectedTr = $(this).parent().parent();
          //선택된 체크박스의 td
          var selectedTd = selectedTr.children();
          //선택된 체크박스의 할당 정보
          var selectedAssign = selectedTd.eq(1).text();

          if (type === "assign") {
            if (selectedAssign == "Y") {
              checkmsg = "할당되지 않은 사용자만 할당 가능합니다.";
              checkAssign = false;
              return false;
            }
          } else if (type === "unassign") {

            if (selectedAssign == "N") {
              checkmsg = "할당 된 사용자만 회수 가능합니다.";
              checkAssign = false;
              return false;
            }
          }
        })
      }
      if(!checkAssign) {
        alert(checkmsg);
        return false;
      }
      else {
        return true;
      }
    }


    function assign() {
      if (validCheck('assign')) {

        // 1. 부서명 추출
        var groupId = $('#groupId').val();

        // 1.1 사용자 ID를 담을 배열 선언
        var users = []

        // 1.2 checkbox에 해당된 ID 배열에 추가
        $("input[name=chk]:checked").each(function (index) {
          var id = $(this).val();
          user = {userId: id}
          users.push(user);
        })


        //2. 요청값 설정
        const data = {
          "groupId": groupId,
          "users": users,
        };

        //2.1 사용자 할당 요청
        $.ajax({
          url: "/groupAssign",
          data: JSON.stringify(data),
          contentType: "application/json",
          method: "POST",
          dataType: "json",
          success: function (responseData) {
            console.log(responseData)
          },
          error: function () {
            alert("서버에 접속할 수 없습니다.")
          }
        });
      }
    }


    function unassign(){

    }



  </script>
</html>
