<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>인사이드정보</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <!-- 글자크기에 따른 크기 조정 css-->
    <link href="css/custom.css" rel="stylesheet">

    <!-- jstree CSS-->
    <link href="dist/themes/default/style.css"/>

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

                <div id="jstree">
<!--                    <ul>-->
<!--                        <li th:each="sub : ${subList}">-->
<!--                            <span th:id="${sub.id}" th:text="${sub.name}" th:attr="type=${sub.tp}" class="btn-text-responsive2 text-black-bold">-->
<!--                            </span>-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>




    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!--    <script src="js/jquery-3.7.1.min.js"></script>-->
    <script src="dist/jstree.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>
<script th:inline="javascript">

    $(document).ready(function(){

        var sublistData = [[${subList}]];
        console.log(sublistData);

        // 6 create an instance when the DOM is ready
        $('#jstree').jstree({
            'core': {
                'themes': {"stripes": true},
                'data': sublistData,
            },
            'types': {
                55: { // 다큐먼트
                    "icon": "jstree-icon jstree-themeicon"
                },
                3:{ // type이 file인 경우
                    "icon": "jstree-icon jstree-themeicon",
                    "max_children": 0, //leaf이므로 자식을 못갖도록 설정
                    "max_depth":0,
                },
                18:{ // type이 file인 경우
                    "icon": "jstree-icon jstree-themeicon",
                    "max_children": 0, //leaf이므로 자식을 못갖도록 설정
                    "max_depth":0,
                },
                'default':{
                    "icon":"jstree-icon jstree-themeicon" //dir 아이콘
                }
            }
            //그냥 이미지 넣어서 해보기 ()
        });
        // 7 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {
            console.log(data.selected);
        });
    });


</script>
</html>